@charset "utf-8";
/* CSS Document */

body
{
	background-image:url(../images/bg.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;	
}